/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache

/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php

/_ide_helper.php
/_ide_helper_models.php

.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project

/public/hot
/public/build
/public/mix-manifest.json

composer.phar

npm-debug.log
yarn-error.log


.idea/
.vscode/
